.list {
  display: grid;
  grid-template-columns:
    max-content auto repeat(4, max-content)
    auto max-content;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scrollbar-width: thin; */
  scroll-behavior: smooth;
  scrollbar-track-color: var(--white-color);
  scrollbar-base-color: var(--primary-color);
  scrollbar-gutter: stable;
  color: var(--black-color);
}
.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: var(--white-color);
  border-radius: 999px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 999px;
}

.listItem {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  transition: all .5s ease;
}
.even {
  background-color: var(--gray-light-color);
}
.odd {
  background-color: var(--white-color);
}

.listItem span {
  text-align: left;
  padding: 0.5rem;
  border-right: 1px solid rgb(128, 128, 128, 0.1);
}

.listItem .cutLine {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0;
}

.even .cutLine span {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 1lh;
  width: 1rem;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0),
    var(--gray-light-color)
  );
  border: none;
}
.odd .cutLine span {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 1lh;
  width: 1rem;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0),
    var(--white-color)
  );
  border: none;
}

.listItem .lastCol {
  border-right: none;
}

.listHeader span {
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 10px;
}
.buttonCont {
  z-index: 2;
  position: absolute;
  /* top: -.25rem; */
  top: 0;
  right: 0;
  translate: 6rem;
  display: flex;
  opacity: 0;
  border-top-left-radius: 1lh;
  border-bottom-left-radius: 1lh;;
  border: .5rem solid var(--primary-light-color);
  background: var(--primary-light-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease
}
.buttonCont:hover {
  translate: 0;
  opacity: 1;
}
.listItem:has(span:hover) .buttonCont {
  translate: 3rem;
  opacity: 1;
}
:not(.listHeader).listItem:hover {
  filter: invert(10%);
}
