body {
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
  padding: 1.5rem;
}
.timer {
  background-color: mistyrose;
  grid-column: span 2;
  grid-row: 1/3;
}

.card1 {
  background-color: red;
  grid-column: span 5;
  grid-row: 1;
}

.card2 {
  background-color: blue;
  grid-column: span 4;
  grid-row: 2;
}

.card3 {
  background-color: green;
  grid-column: 7;
  grid-row: 2;
}
