dialog[open] {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
dialog > h3 {
  margin-bottom: 25px;
}
dialog[open] > p {
  font-size: 1rem;
}
