.li-item {
  list-style: none;
  padding: 0.75rem;
  margin: 0 1.4rem 0.5rem 1.4rem;

  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.todo-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
}

.li-wrapper {
  overflow-y: scroll;
  max-height: 9rem;
}

.todo-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-light-color);
  color: var(--white-color);
  font-weight: bold;
  border: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.todo-button:hover {
  background-color: var(--primary-color);
}
