li {
  list-style: none;
  font-weight: bold;
  font-size: 12px;
}

.todo-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.li-wrapper {
  padding: 1rem;
  display: flex;
  border-radius: 8px;
  background-color: #f7f7f7;
  border: 1px solid #e5e7eb;
  max-width: 100%;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-family: sans-serif;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 5px 5px;

  justify-content: space-between;
}

.list-wrapper {
  flex-wrap: wrap;
}

.ul-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.todo-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--primary-light-color);
  color: var(--white-color);
  font-weight: bold;
  border: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.todo-button:hover {
  background-color: var(--primary-color);
}
