nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

nav h1 {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding-left: 1rem;
}

.theme-toggle {
  /*   background: var(--primary-dark-color);
  width: 40px;
  height: 40px;
  border-radius: 50%; */
  border: none;
  cursor: pointer;
  color: var(--black-color);
  background: transparent;
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}

@media only screen and (max-width: 650px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary-light-color);
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}
