.header {
  background-color: white;
  max-height: 100px;
  & nav {
    display: flex;
    gap: 12px;
    align-items: baseline;
  }
}
.layout {
  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}
.main {
  background-color: antiquewhite;
}
.sidebar {
  background-color: aquamarine;
  display: flex;
  gap: 20px;
}
.logo {
  font-size: 2rem;
  color: black;
  & span {
    color: purple;
    font-size: 3rem;
  }
}
