.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card1,
.card2,
.card3,
.card4 {
  border: none;
}

.card1 {
  background: var(--card-1);
}
.card2 {
  background: var(--card-2);
}
.card3 {
  background: var(--card-3);
}
.card4 {
  background: var(--card-4);
}
.card2 h3 {
  padding-bottom: 0;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px gold);
  }
  50% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 12px gold);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px gold);
  }
}
.legendary-pulse {
  animation: pulseGlow 1.5s ease-in-out infinite;
}
