.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card1,
.card2,
.card3,
.card4 {
  border: none;
}

.card1 {
  background: var(--card-1);
}
.card2 {
  background: var(--card-2);
}
.card3 {
  background: var(--card-3);
}
.card4 {
  background: var(--card-4);
}
.card2 h3 {
  padding-bottom: 0;
}
.skipBtn {
  border: none;
  border-radius: 4px;
  padding: 4px;
}
.skipBtn:hover {
  transform: translateY(-1px);
}
