h2 {
    margin-inline: auto;
    max-width : 90rem;
}

.wrapper {
    container-type: inline-size;
    display: flex;
    justify-content: center;
}


.container {
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--primary-light-color);
    max-width : 90rem;
}