.li-item {
  list-style: none;
  padding: 0.75rem;
  margin: 0 1rem 0.5rem 1.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.todo-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem 0 0.5rem 0;
}

.li-wrapper {
  overflow-y: scroll;
  max-height: 9rem;
}

.todo-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--primary-light-color);
  color: var(--white-color);
  font-weight: bold;
  border: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.todo-button:hover {
  background-color: var(--primary-color);
}

.todo-add-btn {
  min-width: auto;
  margin: 0;
}
