.btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.425) 0 1px 3px 0;
  display: inline-flex;
  font-family: inherit, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  justify-content: center;
  min-width: 8rem;
  padding: 0.5rem 2rem;
  margin: 0.8rem 0.4rem;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  background-color: var(--primary-light-color);
  color: var(--black-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--gray-light-color);
  color: var(--black-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media only screen and (max-width: 580px) {
  .btn {
    padding: 0.4rem 1rem;
    margin: 0.4rem;
  }
}
