body {
  align-items: center;
}

.main {
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
  container-type: inline-size;
}
.timer {
  grid-column: span 3;
  grid-row: 1/3;
  max-width: none;
}

.card1 {
  grid-column: span 7;
  grid-row: 1;
  max-width: none;
}

.card2 {
  grid-column: span 5;
  grid-row: 2;
  max-width: none;
}

.card3 {
  grid-column: span 2;
  grid-row: 2;
  max-width: none;
}

.card4 {
  grid-column: span 2;
  grid-row: 2;
  max-width: none;
}

.card5 {
  grid-column: span 2;
  grid-row: 1;
  max-width: none;
}

@container (inline-size < 1200px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
  }

  .timer {
    grid-column: span 2;
    grid-row: auto;
  }

  .card1 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card2 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card3 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card4 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card5 {
    grid-column: span 1;
    grid-row: auto;
  }
}

@container (inline-size < 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .timer {
    grid-column: span 4;
  }

  .card1 {
    grid-column: span 4;
  }

  .card2 {
    grid-column: span 4;
  }

  .card3 {
    grid-column: span 2;
  }

  .card4 {
    grid-column: span 2;
  }

  .card5 {
    grid-column: span 4;
  }
}

@container (inline-size < 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .timer,
  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    grid-column: 1;
  }
}
