.wrapper {
  container-type: inline-size;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--primary-light-color);
  max-width: 90rem;
}

.timer {
  grid-column: span 4;
  grid-row: 1/3;
  max-width: none;
}

.card1 {
  grid-column: span 3;
  grid-row: 1;
  max-width: none;
}

.card2 {
  grid-column: span 3;
  grid-row: 2;
  max-width: none;
}

/* .card3 {
} */

.card4 {
  grid-column: span 3;
  grid-row: 2;
  max-width: none;
  max-height: 15rem;
  min-height: 15rem;
}

.card5 {
  grid-column: span 3;
  grid-row: 1;
  max-width: none;
  /* grid-column: span 2;
  grid-row: 2;
  max-width: none; */
}

@container (inline-size < 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .timer {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .card2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /* .card3 {
    grid-column: span 1;
    grid-row: 2;
  } */

  .card4 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .card5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@container (inline-size < 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: none;
  }

  .timer {
    grid-column: 1fr;
    grid-row: 1;
    height: 150px;
  }

  .card1 {
    grid-column: 1;
    grid-row: 2;
  }

  .card2 {
    grid-column: 1;
    grid-row: 3;
  }

  /* .card3 {
    grid-column: 1;
    grid-row: ;
  } */

  .card4 {
    grid-column: 1;
    grid-row: 4;
  }

  .card5 {
    grid-column: 1;
    grid-row: 5;
    display: block;
  }
}
