body {
  align-items: center;
}

.wrapper {
  container-type: inline-size;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  border-radius: 4px;
  background-color: whitesmoke;
}
.timer {
  grid-column: span 3;
  grid-row: 1/3;
  max-width: none;
}

.card1 {
  grid-column: span 7;
  grid-row: 1;
  max-width: none;
}

.card2 {
  grid-column: span 5;
  grid-row: 2;
  max-width: none;
}

.card3 {
  grid-column: span 2;
  grid-row: 2;
  max-width: none;
}

.card4 {
  grid-column: span 2;
  grid-row: 2;
  max-width: none;
}

.card5 {
  grid-column: span 2;
  grid-row: 1;
  max-width: none;
}

@container (inline-size < 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .timer {
    grid-column: span 1;
    grid-row: 1;
  }

  .card1 {
    grid-column: span 2;
    grid-row: 1;
  }

  .card2 {
    grid-column: span 1;
    grid-row: 2;
  }

  .card3 {
    grid-column: span 1;
    grid-row: 2;
  }

  .card4 {
    grid-column: span 1;
    grid-row: 3;
  }

  .card5 {
    grid-column: span 1;
    grid-row: 3;
  }
}

@container (inline-size < 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .timer {
    grid-column: span 1;
    grid-row: auto;
    height: 150px;
  }

  .card1 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card2 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card3 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card4 {
    grid-column: span 1;
    grid-row: auto;
  }

  .card5 {
    grid-column: span 1;
    grid-row: auto;
  }
}
