.listItem {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 8fr 1fr;
    span {
        /* display: inline-block; */
        padding: .5rem;
        border-left: 1px solid white;
        border-right: 1px solid black;
    }
}