.list {
    display: grid;
    grid-template-columns: max-content auto repeat(4, max-content) auto max-content;
    max-height: 30rem;
    overflow-y:scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    color: var(--primary-color);
}

.listItem {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    position: relative;
}
.even {
    background-color: var(--gray-light-color);
}
.odd {
    background-color: var(--white-color);
}

.listItem span {
    text-align: left;
    padding: .5rem;
    border-right: 1px solid rgb(128, 128, 128, 0.1);
}

.listItem .cutLine {
    position: relative;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    padding-right: 0;
}


.even .cutLine span {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 1lh;
    width: 1rem;
    background-image: linear-gradient(90deg, rgb(255, 255, 255, 0), var(--gray-light-color) );
    border: none;
}
.odd .cutLine span{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 1lh;
    width: 1rem;
    background-image: linear-gradient(90deg, rgb(255, 255, 255, 0), var(--white-color) );
    border: none;
}

.listItem .lastCol {
    border-right: none;
}

.listHeader {
    font-weight: 600;
}


