ul {
    display: grid;
    grid-template-columns: max-content auto repeat(5, max-content) auto max-content;
    color: var(--primary-color);
}

.listItem {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    position: relative;
}

.listItem span {
    text-align: left;
    padding: .5rem;
    border-right: 1px solid #ddd;
}

.listItem .cutLine {
    overflow: hidden;
    white-space: nowrap;
}

.listItem .cutLine::after {
    z-index: 2;
    position: absolute;
    right: 0;
    transform: translateX(-3.6rem);
    height: 100%;
    width: 3rem;
    background-image: linear-gradient(-90deg, rgb(255, 0, 0), #ff000000 );
}

.listItem .lastCol {
    border-right: none;
}

.listHeader {
    font-weight: 600;
}

.even {
    background: var(--white-color);
}
