.btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.425) 0 1px 3px 0;
  display: inline-flex;
  font-family:
    system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 2rem;
  margin: 0.4rem;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  background-color: #b698ce;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e3e7eb;
  color: black;
}

.btn-secondary {
  background-color: #e3e7eb;
  color: #000000;
}

.btn-secondary:hover {
  background-color: #b698ce;
  color: white;
}
