.info-card {
  padding: 16px;
  border-radius: 8px;
  margin: 2rem;
  background-color: #f5f7fa;
  border: 1px solid #e5e7eb;
  max-width: 500px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info-card-list li::marker {
  color: rgb(118, 148, 247);
  font-size: 1.2rem;
}
