.card {
  width: 300px;
  height: 100px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f7f7f7;
  border: 1px solid #e5e7eb;
  max-width: 100%;
  color: var(--black-color);
  font-weight: lighter;
  font-family: sans-serif;
  text-align: center;
}

.title {
  color: var(--white);
  padding: 10px;
}

.default {
  background-color: #64748b;
}
.red {
  background-color: #e85050;
}
.yellow {
  background-color: #e4aa46;
}
.green {
  background-color: #28cb64;
}

@media only screen and (max-width: 650px) {
  .card {
    width: 350px;
    margin: 0 auto;
  }
}
