/* CSS */
.btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-primary {
  background-color: #fa6400;
  color: #fff;
}

.btn-primary:hover {
  background-color: #502407;
}

.btn-secondary {
  background-color: #0e6dda;
  color: #fff;
}

.btn-secondary:hover {
  background-color: rgb(9, 28, 80);
}
