.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--white-color);
  border: 1px solid #e5e7eb;
  max-width: 100%;
  color: var(--black-color);
  font-weight: lighter;
  font-family: sans-serif;
  box-shadow: 0 2px 20px rgba(95, 68, 143, 0.67);
  text-align: center;
}

.card-small {
  max-width: 250px;
  min-height: 150px;
}

.card-medium {
  max-width: 350px;
  min-height: 150px;
}

.card-large {
  max-width: 600px;
  min-height: 150px;
}

.card > h3 {
  margin: 0 0 8px;
  font-size: 18px;
}

/* .card img {
  max-width: 200px;
  height: auto;
} */
