.li-item {
  list-style: none;
  padding: 0.5rem;
  margin: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.todo-text {
  font-weight: 400;
}

.todo-header {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.todo-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.todo-input {
  padding: 0.6rem;
}

.li-wrapper {
  overflow-y: auto;
  max-height: 10rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(var(--white-color) 30%, transparent) center top,
    linear-gradient(transparent, var(--white-color) 70%) center bottom,
    radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0)
      )
      center top,
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0)
      )
      center bottom;
  background-repeat: no-repeat;
  background-size:
    100% 14px,
    100% 14px,
    100% 10px,
    100% 10px;
  background-attachment: local, local, scroll, scroll;

  border-radius: 10px;
}

body.dark .li-wrapper {
  background:
    linear-gradient(var(--white-color) 30%, transparent) center top,
    linear-gradient(transparent, var(--white-color) 70%) center bottom,
    radial-gradient(
        farthest-side at 50% 0,
        rgba(255, 255, 255, 0.32),
        transparent
      )
      center top,
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(255, 255, 255, 0.32),
        transparent
      )
      center bottom;
  background-repeat: no-repeat;
  background-size:
    100% 14px,
    100% 14px,
    100% 10px,
    100% 10px;
  background-attachment: local, local, scroll, scroll;
}

.li-wrapper::-webkit-scrollbar {
  display: none;
}

.todo-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--primary-light-color);
  color: var(--white-color);
  font-weight: bold;
  border: none;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.todo-button:hover {
  background-color: var(--primary-color);
}

.todo-add-btn {
  margin: 0;
  width: 8rem;
  min-width: 3rem;
}
